backend/backend_server.log
frontend/frontend_dev.log
frontend/test-results/**

# SSH keys (プロジェクト直下に配置)
.ssh/**

# Cloudflare origin certificates
ssl/**

# Environment variables files
.env
.env.local
.env.development
.env.production
.env.test
**/.env
**/.env.*

# Terraform state files
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfstate.lock.info
terraform/*.tfvars

# Terraform providers and plugins
terraform/.terraform/**

*.log
terraform/session-manager-plugin.deb
.env

